.ul-for :active{
    background-color: aqua;
}
.nav-main{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F7F7FF;
    color: #27187e;
}
.ul-for{ 
    font-weight: 800;
  color: #27187e; 
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1); 
  letter-spacing: 2px; 
  text-transform: uppercase; 
}